/* components/Bandera/Bandera.module.css */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.imagen {
    width: 200px;
    height: auto;
}
